/* utility */

.ms-container-100{
    height: 100vh;
}

.row {
    --bs-gutter-x: 0;
}

/* header */

header{
    height: 100px;
    background-color: #F8F9FA;
}

.ms-logo-width1{
    width: 150px;
}

.ms-logo-width2{
    width: 50px;
}

header .form-control{
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
}

header .input-group-text{
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
}

header .dropdown-toggle::after {
    display: none;
}

.btn-secondary {
    --bs-btn-bg: #F8F9FA;
    border: none;
}

.fa-bell{
    color: goldenrod;
}

/* main */

main{
    height: calc( 100vh - 100px);
}

/* sidebar */

#ms-sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #051E34;
}

/* main section */

#ms-main-section{
    height: 100%;
}

/* blue section */

#ms-blue-section{
    background-color: #1A73E8;
}

.ms-pill-bg-color{
    background-color: #155CBA;
}

/* card section */

